@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>Contador: @Counter</p>
<button @onclick="StartIncrementing">Start</button>

@code {
    private int Counter = 0;

    protected async Task StartIncrementing()
    {
        while (Counter < 100)
        {
            Counter++;
            StateHasChanged();
            await Task.Delay(100);
        }
    }
}
