@page "/"
@rendermode InteractiveServer
@using InfraSim.Services

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>Contador: @Counter</p>
<button @onclick="StartIncrementing">Start</button>

@code {
    private UserCounter userCounter = new UserCounter();
    private int Counter => userCounter.Counter;

    protected override void OnInitialized()
    {
        userCounter.OnCounterChanged += UpdateUI;
    }

    private async Task StartIncrementing()
    {
        await userCounter.StartIncrementing();
    }

    private void UpdateUI()
    {
        StateHasChanged();
    }

    public void Dispose()
    {
        userCounter.OnCounterChanged -= UpdateUI;
    }
}