@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>Contador: @Counter</p>
<button @onclick="IncrementarContador">Start</button>

@code {
    private int Counter = 0;

    private void IncrementarContador()
    {
        if (Counter < 100)
        {
            Counter++;
        }
    }
}
